<a name="about">
	<div class="intro-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1>Flight Planner</h1>
						<h3>Welcome</h3>
						<hr class="intro-divider"/>
						<ul class="list-inline intro-social-buttons">
							<li><a id="btn-login" data-transition="pop" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Login</span></a></li>
							<li><a id="btn-register" data-transition="pop" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i><span class="network-name">Sign Up</span></a></li>
							<li><a id="btn-map" data-transition="pop" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i><span class="network-name">Map</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div></a>