<h3 style="margin-top:60px" class="col-sm-offset-2">User Login
	<form id="login-form" role="form" class="form-horizontal">
		<div class="form-group">
			<label for="username" class="control-label col-sm-2">Username: </label>
			<div class="col-xs-8">
				<input id="username" type="text" name="username" placeholder="Enter username" required="" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="control-label col-sm-2">Password: </label>
			<div class="col-xs-8">
				<input id="password" type="password" name="password" placeholder="Enter password" required="" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-6">
				<input id="login-validate" type="submit" class="btn btn-default"/>
			</div>
		</div>
	</form>
</h3>
<script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
<script src="js/form-methods.js"></script>
<script src="js/login.js"></script>