<h3 class="col-sm-offset-2">User Profile</h3>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 id="panel-title" class="panel-title">First Name Last Name</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div align="center" class="col-md-3 col-lg-3"><img id="gravatar-profile" alt="User Pic" src="" class="img-circle img-responsive"/>
							<button id="edit-prof" onclick="goToEditMode()" class="edit-btn">Edit Profile</button>
						</div>
						<div class="col-md-9 col-lg-9">
							<table class="table table-user-information">
								<tbody>
								<tr>
									<td id="prof_username">Username:</td>
								</tr>
								<tr>
									<td id="prof_dob">DOB:</td>
								</tr>
								<tr>
									<td id="prof_street">Address Street:</td>
								</tr>
								<tr>
									<td id="prof_city">Address City:</td>
								</tr>
								<tr>
									<td id="prof_state">Address State:</td>
								</tr>
								<tr>
									<td id="prof_zip">Address ZipCode:</td>
								</tr>
								<tr>
									<td id="prof_phone">Phone:</td>
								</tr>
								<tr>
									<td id="prof_email">Email:</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Active Flight Plans</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div align="center" class="col-md-3 col-lg-3">
							<button id="edit-plan" onclick="createPlan()" class="edit-btn">Create New Flight Plan</button>
						</div>
						<div class="col-md-9 col-lg-9">
							<table class="table table-user-information">
								<tbody id="planHolder"></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="js/form-methods.js"></script>
<script src="js/profile.js"></script>