<h3 style="margin-top:60px" class="col-sm-offset-2"> Sign Up!</h3>
	<form id="signup-form" role="form" class="form-horizontal">
		<div class="form-group">
			<label for="username" class="control-label col-sm-2">Username</label>
			<div class="col-sm-8">
				<input id="username" type="text" name="username" placeholder="Enter username" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label for="first_name" class="control-label col-sm-2">First Name</label>
			<div class="col-sm-8">
				<input id="first_name" type="text" name="first_name" placeholder="Enter first name" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label for="last_name" class="control-label col-sm-2">Last Name</label>
			<div class="col-sm-8">
				<input id="last_name" type="text" name="last_name" placeholder="Enter last name" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="control-label col-sm-2">Password:</label>
			<div class="col-sm-8">
				<input id="password" type="password" name="password" placeholder="Enter password" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label for="dob" class="control-label col-sm-2">DOB</label>
			<div class="col-sm-8">
				<input id="dob" type="text" name="dob" placeholder="Enter dob" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label for="address_street" class="control-label col-sm-2">Address Street</label>
			<div class="col-sm-8">
				<input id="address_street" type="text" name="address_street" placeholder="Enter street" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label for="address_city" class="control-label col-sm-2">Address City</label>
			<div class="col-sm-8">
				<input id="address_city" type="text" name="address_city" placeholder="Enter city" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label for="address_state" class="control-label col-sm-2">Address State</label>
			<div class="col-sm-8">
				<input id="address_state" type="text" name="address_state" placeholder="Enter state" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label for="address_zip" class="control-label col-sm-2">Address Zipcode</label>
			<div class="col-sm-8">
				<input id="address_zip" type="text" name="address_zip" placeholder="Enter zipcode" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label for="primary_phone" class="control-label col-sm-2">Phone:</label>
			<div class="col-sm-8">
				<input id="primary_phone" type="text" name="primary_phone" placeholder="Enter phone" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label for="primary_email" class="control-label col-sm-2">Email:</label>
			<div class="col-sm-8">
				<input id="primary_email" type="email" name="primary_email" placeholder="Enter email" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-6">
				<input  id="reg-user" type="submit" class="btn btn-default"/>
			</div>
		</div>
	</form>
	<script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
	<script src="js/form-methods.js"></script>
	<script src="js/signup.js"></script>