footer
   .container
      .row
         .col-lg-12
            ul.list-inline
               li
                  a(href='/') Home
               li.footer-menu-divider ⋅
               li
                  a(href='/login') Login
               li.footer-menu-divider ⋅
               li
                  a(href='/signup') Sign Up
            p.copyright.text-muted.small Copyright © Michael Umenta LLC 2015. All Rights Reserved
